.project {
    padding-block-end: 40px;
    padding-block-start: 40px;
}

.project_image img {
    max-inline-size: 100%;
    block-size: auto;
}

.project_description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .project {
        display: flex;
        align-items: center;
        gap: 32px;
        padding-block-end: 80px;
        padding-block-start: 80px;
    }
    .project_description {
        flex: 1;
    }
    .project:nth-child(odd) .project_image {
        order: 2;
        flex: 1;
        text-align: center;
    }
}