.testimonios-content {
    padding-block-start: 40px;
    padding-block-end: 40px;
    display: flex;
    justify-content: center;
}

.testimonios {
    max-inline-size: 972px;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.testimonios::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    padding: 4px 0 0 4px;
    z-index: -1;
    backdrop-filter: blur(40px);
    background: linear-gradient(-20deg, rgba(253, 253, 253, 0.295), rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.479));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(rgb(255, 255, 255) 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.testimonios p {
    font: bold 16px/25px var(--fontSecondary);
    margin-block-start: 0;
    margin-block-end: 0;
}

.testimonios span {
    font: var(--caption);
    opacity: 50%;
}

@media screen and (min-width:768px) {
    .testimonios-content {
        padding-block-start: 80px;
        padding-block-end: 80px;
    }
    .testimonios {
        padding-inline-end: 24px;
        padding-inline-start: 24px;
        padding: 80px;
        text-align: center;
    }
    .testimonios p {
        font: var(--txtTestimonio);
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .testimonios span {
        font: var(--headline5);
        opacity: 50%;
    }
}
